<div style="position:relative; top:20px;" class="container">
	<h1>THE SINGLE FORUM POST PAGE</h1>
	<div class="row">
			<div class="col-sm-6">
			<h2 style="text-align:left">{{post.title}}<h2>
			<hr>
			<h4>{{post.post}}</h4> 
			<br>
			<span ng-show="currentUser.username == post.user">
				<a href="#!/forumUpdate?p={{post._id}}">Update this Post</a>
			</span>
		</div>
		<div class="col-sm-6">
		<div class="row">
			<h2>Comments</h2>
			<div ng-repeat="p in post.comments">
				{{p.comment}} 
				<h4>By: {{p.user}}</h4>
			</div>
			<div ng-submit="comment()">
				<form method="post">
					<textarea class="form-control" type="text" ng-model="comments.comment" placeholder="Comment Here"></textarea>
					<br>
					<input class="btn btn-default" type="submit">
				</form>
			</div>
			</div>
		</div>
	</div>
</div>